.nav {
  grid-area: n;
  background-color: #eee;
  display: flex;
  flex-direction: column;
  align-content: center;
}

.item {
  display: flex;
  align-content: center;
  padding: 10px;
}

.item a.active{
  color: black;
}

.item a {
  height: auto;
  padding-left: 5px;
  font-size: 13px;
  font-weight: 500;
  font-family: 'Roboto', sans-serif;
  color: #555;
  text-decoration: none;
}

.icon {
  filter: invert(19%) sepia(97%) saturate(2124%) hue-rotate(182deg) brightness(99%) contrast(101%) opacity(15%);
  padding: 0 5px 0 20px;
  width: 17px;
  height: 17px;
}

.iconActive {
  filter: invert(19%) sepia(97%) saturate(2124%) hue-rotate(182deg) brightness(99%) contrast(101%) opacity(100%);
  padding: 0 5px 0 20px;
  width: 17px;
  height: 17px;
}


.sidebar {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: 'Roboto', sans-serif;
  font-size: 13px;
  font-weight: 500;
  color: #555;
}
.sidebar .tag {
  padding: 20px 0 10px;
}

.friends {
  padding-left: 10px;
  width: 100%;
  display: flex;
  flex-direction: row;

}

.friend {
  width: 33%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.avatar {
  width: 50px;
  border-radius: 28px;
  border: solid 3px #006699;
}