.dialogs {
    display: grid;
    grid-template-columns: 3fr 9fr;
}

.dialogs__items {
    padding: 10px;
}
.dialogs__item {
    padding: 8px 0 8px 10px;
    display: flex;
    border-bottom: solid 1px #ccc;
}
.dialogs__item:last-child {
    border-bottom: none;
}
.dialogs__item a{
    padding-left: 10px;
    font-size: 16px;
    font-weight: 500;
    font-family: 'Roboto', sans-serif;
    color: #555;
    text-decoration: none;
}

.dialogs__item a.active{
    color: #006699;
  }
  
.dialogs__messages {
    display: flex;
    flex-direction: column;
    margin: 5px;
    padding: 10px;
    border: solid 1px #006699;
    border-radius: 5px;
    width: auto;
    background-color:rgba(0, 102, 153, .1);
    
}

.dialogs__message {
    padding: 10px 0 10px 20px; 
    border: solid 1px #006699;
    border-radius: 25px;
    background-color: white;
    margin-bottom: 10px;
    display: flex;
    justify-content: flex-start;
    width: 55%;
}

.dialogs__message:nth-child(even) {
    padding: 10px 20px 10px 0px;
    align-self: flex-end;
    justify-content: flex-end;
}

.dialogs__items  .active {
    color: goldenrod;
}

.avatar {
    width: 50px;
    border-radius: 30px;
    border: solid 3px #006699;
}

.posts__block {
    display: flex;
    justify-content: center;
}